{% extends "twdt/base.html" %}


{% block body_content %}

<style>
    .data-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
        align-items: start;
        gap: 1em 2em;
    }

    .data-sub-container {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em 2em;
        margin-inline: auto;
    }

    .data-label::after {
        content: ':';
    }

    .data-value {
        font-weight: bold;
    }

    .whole-row {
        grid-column: 1/3;
    }
</style>

<div class="container">

    <div class="data-container mt-3">

        <div class="data-sub-container">
            {% if pallet_id %}
            <h6 class="data-label fw-bold">Pallet ID</h6>
            <h6 class="data-value text-success">{{pallet_id}}</h6>
            {% endif %}

            {% for key, value in rack_location.items %}

            <div class="data-label label--{{key|slugify}}
                {% if location_id and key == 'location id' %}fw-bold{% endif %}
            ">{{key|title}}
            </div>

            <div class="data-value
                {% if location_id and key == 'location id' %}text-success{% endif %}
            ">{{value}}
            </div>

            {% endfor %}
        </div>

        <div class="data-sub-container">
            {% for key, value in warehouse.items %}
            <div class="data-label label--{{key|slugify}}">{{key|title}}</div>
            <div class="data-value">{{value}}</div>
            {% endfor %}
        </div>

        <div class="data-sub-container">
            {% for key, value in rack.items %}
            <div class="data-label label--{{key|slugify}}">{{key|title}}</div>
            <div class="data-value">{{value}}</div>
            {% endfor %}
        </div>

    </div>


    {% block pallets %}

    {% if not table_view %}

    <div class="data-sub-container mt-4">
        {% for pallet in pallets %}
        <hr class="whole-row" />

        {% for key, value in pallet.items %}
        <div class="data-label label--{{key|slugify}}">{{key|title}}</div>
        <div class="data-value">
            {% if key == 'pallet id' and not hide_link %}
            <a href="/pallet/{{value}}/">{{value}}</a>
            {% else %}
            {{value}}
            {% endif %}
        </div>
        {% endfor %}

        {% endfor %}
    </div>
    {% endif %}


    {% if table_view %}
    <table class="table table-hover table-striped table-responsive mt-5">
        <thead>
            <tr>
                {% for item in pallets.0.keys %}
                <th class="col--{{item|slugify}}">{{item|title}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for pallet in pallets %}
            <tr>
                {% for key, val in pallet.items %}
                <td class="col--{{item|slugify}}">{{val}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>

{% endblock pallets %}


<form class="text-center my-5" method="POST">
    {% csrf_token %}
    <button class="btn btn-outline-secondary">API Data</button>
    {% if pallet_id and not days %}
    <a href="7/" class="btn btn-outline-secondary ms-2">Pallet History</a>
    {% endif %}
</form>

</form>

{% endblock body_content %}