{% extends "twdt/base.html" %}


{% block body_content %}

<style>
    .duplicate-location-id {
        opacity: 0.5;
        font-style: italic;
    }

    .duplicate-location-id::after {
        content: '*';
        font-size: 0.7em;
    }

    .location-id {
        font-weight: bold;
    }

    .pallets-container {
        display: grid;
        grid-template-columns: repeat(11, auto);
        gap: 0.25em 2em;
    }

    .rack-info {
        font-weight: bold;
        font-size: larger;
        margin-left: 1em;
    }

    .rack-info-container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        align-items: start;
        align-content: start;
        gap: 3em;
    }

    .rack-info-sub-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        gap: 0.5em 2em;
    }

    .rack-location-container {
        margin-bottom: 1em;
    }
</style>

<div class="container">

    <div class="rack-info-container mt-3 mb-4">
        <div class="rack-info-sub-container">
            <span class="rack-label">Warehouse:</span>
            <span class="rack-info">{{rack.warehouse_code}}</span>

            <span class="rack-label">Rack#:</span>
            <span class="rack-info">{{rack.rack_no}}</span>

            <span class="rack-label">Depth:</span>
            <span class="rack-info">{{rack.depth}}</span>
        </div>
        <div class="rack-info-sub-container">
            <span class="rack-label">Pallet Positions:</span>
            <span class="rack-info">{{rack.pallet_positions}}</span>

            <span class="rack-label">Filled Positions:</span>
            <span class="rack-info">{{rack.filled_pallet_positions}}</span>

            <span class="rack-label">Occupancy:</span>
            <span class="rack-info">{{rack.occupancy}}</span>
        </div>
    </div>


    <div class="pallets-container">

        <div class="header">Location ID</div>
        <div class="header">Pallet ID</div>
        <div class="header">Owner</div>
        <div class="header">Product Code</div>
        <div class="header">Description</div>
        <div class="header">Expiry Date</div>
        <div class="header">Quantity</div>
        <div class="header">Age</div>
        <div class="header" title="Balance Shelve Life to Expire">Balance</div>
        <div class="header">Product Group</div>
        <div></div>

        {% for rack_location in rack.rack_locations %}
        {% for pallet in rack_location.pallets %}

        <div class="body">
            {% ifchanged rack_location.location_id %}
            <a href="/rack-location/{{rack_location.location_id}}/">{{rack_location.location_id}}</a>
            {% else %}
            <a class="duplicate-location-id"
                href="/rack-location/{{rack_location.location_id}}/">{{rack_location.location_id}}</a>
            {% endifchanged %}
        </div>
        <div class="body">{{pallet.pallet_id}}</div>
        <div class="body">{{pallet.owner}}</div>
        <div class="body">{{pallet.product_code}}</div>
        <div class="body">{{pallet.description}}</div>
        <div class="body">{{pallet.expiry_date}}</div>
        <div class="body">{{pallet.quantity_on_hand}}</div>
        <div class="body">{{pallet.age}}</div>
        <div class="body">{{pallet.balance_shelve_life_to_expire}}</div>
        <div class="body">{{pallet.product_group}}</div>
        <div></div>

        {% endfor %}
        {% endfor %}
    </div>


    <form class="text-center my-5" method="POST">
        {% csrf_token %}
        <button class="btn btn-outline-secondary">API Data</button>
    </form>

    </form>

    {% endblock body_content %}