{% extends "twdt/base.html" %}


{% block body_content %}

<style>
    .data-container {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em 2em;
        margin-inline: auto;
    }

    .data-label::after {
        content: ':';
    }

    .data-value {
        font-weight: bold;
    }
</style>

<div class="container">

    <div class="data-container mt-3">

        {% for key, value in warehouse.items %}
        <div class="data-label">{{key|title}}</div>
        <div class="data-value">{{value}}</div>
        {% endfor %}

        {% for key, value in rack.items %}
        <div class="data-label">{{key|title}}</div>
        <div class="data-value">{{value}}</div>
        {% endfor %}

        {% for key, value in rack_location.items %}
        <div class="data-label">{{key|title}}</div>
        <div class="data-value">{{value}}</div>
        {% endfor %}

    </div>

    <div class="pallets-container">
        {% for pallet in pallets %}
        <hr />
        <div class="data-container mt-4">

            {% for key, value in pallet.items %}
            <div class="data-label">{{key|title}}</div>
            <div class="data-value">
                {% if forloop.first %}
                <a href="/pallet/{{value}}/">{{value}}</a>
                {% else %}
                {{value}}
                {% endif %}
            </div>
            {% endfor %}

        </div>
        {% endfor %}
    </div>


    <form class="text-center my-5" method="POST">
        {% csrf_token %}
        <button class="btn btn-outline-secondary">API Data</button>
    </form>

    </form>

    {% endblock body_content %}